/* login */
.signin {
    background-color: #ccdbd6;
    padding: 30px 20px;
    height: 100vh;
}
.signin .signin-box {
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
}
.signin .signin-box .title {
    color: #5c5d65;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}
.signin .signin-box .text{
    color: #acb4bd;
    font-weight: 700;
}
.signin .signin-box .btn-google {
    background-color: #ea4335;
    color: #fff;
}
.signin .signin-box .btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

/* register */
.register {
    background-color: #ccdbd6;
    padding: 30px 20px;
}
.register .register-box {
    background-color: #fff;
    border-radius: 50px;
    padding: 40px;
}
.register .register-box .title {
    color: #5c5d65;
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 700;
}
.register .register-box .text{
    color: #acb4bd;
    font-weight: 700;
}
.register .register-box .btn-google {
    background-color: #ea4335;
    color: #fff;
}
.register .register-box .btn-facebook {
    background-color: #3b5998;
    color: #fff;
}


/* sidebar */
.sidebar {
    background-color: #f0eff4;
    min-width: 280px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    margin-left: -280px;
}
.sidebar .menu-item {
    background-color: #fff;
    border-radius: 5px;
}
.sidebar .menu-item.item-1 {
    border-left: 3px solid #16c787;
    color: #16c787;
}
.sidebar .menu-item.item-2 {
    border-left: 3px solid #37b9cc;
    color: #37b9cc;
}
.sidebar .menu-item.item-3 {
    border-left: 3px solid #fadd94;
    color: #fadd94;
}
.sidebar .menu-item.item-4 {
    border-left: 3px solid #5a7ce1;
    color: #5a7ce1;
}
.sidebar.active {
    margin-left: 0;
}
.backdrop {
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
}
.sidebar.active + .backdrop {
    display: block
}

/* home */
.home .profile-box {
    background-color: #ccdbd6;
    height: 80px;
}
.home .profile-box-title {
    background-color: #EEEEEE;
    height: 40px;
}
.home .profile-box .menu-btn {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 20px;
}
.home .profile-box .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.home .col-custom {
    position: relative;
    background-color: #f8f9fc;
    border: 1px solid #fff;
}
.home .action-iamge {
    font-size: 13px;
    text-align: center;
}
.home .noti {
    font-size: 14px;
    text-align: center;
    background-color: #ffc000;
    color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: 10px;
}


/* teacher-detail */
.teacher-detail .attachment-group {
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 12px;
}
.teacher-detail .attachment {
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* booking-detail */
.lend-return .lend.active {
    color: #fff;
    background-color: #16c787;
    border: 2px solid #000;
}
.lend-return .return.active {
    color: #000;
    background-color: #f79646;
    border: 2px solid #000;
}
.remove-book-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ff0000;
    display: block;
    font-size: 11px;
    text-align: center;
    padding: 4px;
}

/* global */
body {
    background-color: #f8f9fc;
}
.content {
    width: 100%;
}
.top-bar {
    height: 60px;
    width: 100%;
    background-color: #ccdbd6;
}
.menu-btn {
    color: #fff;
    font-size: 20px;
}
.add-box {
    background-color: #ccdbd6;
    height: 100px;
    font-size: 60px;
    color: #fff;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.table thead {
    background-color: #ccdbd6;
}




.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}


     /* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 350px;
  height: 150px;
  background-color: wheat;
  color:black;
  text-align: left;
  border-radius: 20px;
  border-width: 2px;
  border-style: solid;
  padding: 8px 0;
  padding-left: 20px;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  right: 20%;
  margin-left: -80px;
  top: 100%;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  left: 80%;
  top: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*add box for H question*/
 .add-box-h-quesion {
    background-color: white;
    height: 60%;
    font-size: 60px;
    color: #fff;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    border-color:black;
}
.button-choice {
    position: relative;
    border-style: solid;
    border-radius: 20px;
    border-color:black;
    height: 100px;
    width: 130px;
    margin: 0 auto;
}